apiVersion: apps/v1
kind: Deployment
metadata:
  name: runner
spec:
  selector:
    matchLabels:
      app: runner
      tier: backend
      track: stable
  replicas: 1
  template:
    metadata:
      labels:
        app: runner
        tier: backend
        track: stable
    spec:
      containers:
      - name: worker
        image: gcr.io/fiuba-rpl/rpl-2.0-worker:latest
        volumeMounts:
        - name: dockersock
          mountPath: "/var/run/docker.sock"
        securityContext:
          privileged: true
        env:
        - name: QUEUE_URL
          value: amqp://guest:guest@localhost:5672
        - name: URL_RPL_BACKEND
          value: http://producer:8080
        - name: QUEUE_ACTIVITIES_NAME
          value: hello
        - name: DOCKER_RUNNER_IMAGE
          value: gcr.io/fiuba-rpl/rpl-2.0-runner
        ports:
          - name: http
            containerPort: 8088
      volumes:
      - name: dockersock
        hostPath:
          path: /var/run/docker.sock  
      initContainers:
      - name: runner
        image: gcr.io/fiuba-rpl/rpl-2.0-runner:latest
        command: [ "/bin/sh", "-c", "echo holaaaa"]
      